<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluación - Bienvenida</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Bienvenido</h1>
        <h3>Seleccione una opción: </p>
    </header>    

    <div class="contenedor-botones">
        <a href="formulario.html" class="btn"> Formulario de Registo </a>
        <a href="reportes.html" class="btn"> Ver Reportes </a>
    </div>

    <script src="main.js"></script>
</body>
</html>