body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

header {
  background: #0e4a52;
  color: white;
  padding: 1rem;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 1.5rem;
}

.contenedor-botones {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  width: 250px;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  background-color: #21646d;
  color: white;
  font-size: 1.1rem;
  border-radius: 6px;
  border: 2px solid #0e4a52;
  transition: 0.3s;
}

.btn:hover {
  background-color: #43747a;
  border-color: #18565e;
}